@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Dana";/*400*/
        src: local("Dana"), url("./assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana Medium";/*500*/
        src: local("Dana Medium"), url("./assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana DemiBold";/*600*/
        src: local("Dana DemiBold"), url("./assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Light";
        src: local("Morabba Light"), url("./assets/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Medium";
        src: local("Morabba Medium"), url("./assets/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Bold";
        src: local("Morabba Bold"), url("./assets/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }

        /* reset browser styles */
    * { box-sizing: border-box;
    }
    body{
        background-color: #f4f5f6;
    }
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
    audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu,
    nav, section {
    display: block;
    }
    body {
    line-height: 1.2;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    ol {
    padding-left: 1.4em;
    list-style: decimal;
    }
    ul {
    padding-left: 1.4em;
    list-style: square;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    /* end reset browser styles */


}