@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Dana";/*400*/
        src: local("Dana"), url("./assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana Medium";/*500*/
        src: local("Dana Medium"), url("./assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana DemiBold";/*600*/
        src: local("Dana DemiBold"), url("./assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Light";
        src: local("Morabba Light"), url("./assets/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Medium";
        src: local("Morabba Medium"), url("./assets/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Bold";
        src: local("Morabba Bold"), url("./assets/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }


    @layer components {
        .products-btn-css {
            @apply focus:bg-brand focus:text-blackText-200 visited:bg-brand visited:text-blackText-200 rounded-lg py-[5px] px-[10px];
        }
        .category-btn-css {
            @apply  xs:child:w-[200px] xs:child:h-[200px] child:w-[70px] child:h-[70px] child:flex child:flex-col child:justify-center child:items-center xs:child:gap-6 child:gap-1 xs:child:shadow-3 child-hover:scale-105;
        }
        .rotate-svg {
            @apply  rotate-180 transform;
        }
        .timer-style {
            @apply flex justify-center h-8 xs:h-[47px] xs:w-[47px] w-8 mb-2 items-center bg-black text-white rounded-lg
        }
        .tiktik {
            @apply focus:opacity-100 visited:opacity-100
        }
        .poem {
            direction: ltr;
            overflow-y: scroll;
            scrollbar-color: orange white ;
            scrollbar-width: thin;
            
          }
        .active{
            position: absolute;
            left: 0;
            right: 0;
            top: 80px;
            filter: blur(none);
            backdrop-filter: blur(10px);
            z-index: 1000;

        }
        .bler {
            -webkit-filter: blur(5px);
            filter: blur(5px);
          }
    }

        /* reset browser styles */
    * { box-sizing: border-box;
    }
    body{
        background-color: #f4f5f6;
    }
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark,
    audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    }
    article, aside, details, figcaption, figure, footer, header, hgroup, menu,
    nav, section {
    display: block;
    }
    body {
    line-height: 1.2;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    ol {
    padding-left: 1.4em;
    list-style: decimal;
    }
    ul {
    padding-left: 1.4em;
    list-style: square;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    /* end reset browser styles */


}